node_modules/
.expo/
dist/
web-build/
*.log
android/
ios/
.env
.env.*
!.env.example
/.vs/slnx.sqlite-journal
/.vs/Thane PropertySearch.Mobile New.slnx
/.vs/slnx.sqlite
/.gitignore
/.vs/VSWorkspaceState.json
*.vsidx
